.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $link-color;
    @include easeOut;
  }

  &.close {
    transform: rotate(90deg);

    .btn-line {
      //la linea 1 va a rotar
      &:nth-child(1) {
        transform: rotate(-45deg) translate(5px, 5px);
      }
      //la linea 2 a desaparecer
      &:nth-child(2) {
        opacity: 0;
      }
      //la linea 3 a rotar
      &:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -15px);
      }
    }
  }
}
