.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: setTextColor($primary-color);
    @include easeOut;
  }

  &.close {
    transform: rotate(90deg);

    .btn-line {
      //la linea 1 va a rotar
      &:nth-child(1) {
        transform: rotate(-45deg) translate(5px, 5px);
      }
      //la linea 2 a desaparecer
      &:nth-child(2) {
        opacity: 0;
      }
      //la linea 3 a rotar
      &:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -15px);
      }
    }
  }
}

//capa de menu
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  //menu imagen y menu links
  .brand-image,
  &-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  //menu links
  &-nav {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 4), 0.9);
    list-style: none;
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  //menu imagen
  .brand-image {
    margin: 0;
    padding: 0;
    background: rgba(darken($primary-color, 4), 0.7);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    //imagen
    .portrait {
      width: 350px;
      height: 350px;
      background: url(../img/kiefer.jpg);
      border-radius: 50%;
      border: solid 3px $secondary-color;
      background-size: cover;
    }
  }

  //li links
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $secondary-color;
    }
  }

  //a links
  .nav-link {
    display: block;
    font-size: 2rem;
    @include easeOut;
    text-transform: capitalize;
    text-decoration: none;
    color: setTextColor($primary-color);

    &:hover {
      color: $secondary-color;
    }
  }
}

@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
